<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <title>Home</title>
</head>
<body>
<nav class="navbar">
    <div class="navbar-container">
        <a href="/" class="navbar-logo">MijnSite</a>
        <ul class="navbar-menu">
            <li><a th:href="@{/api/frontend/books}" class="navbar-item">Boeken</a></li>
            <li><a th:href="@{/api/frontend/users}" class="navbar-item">Gebruikers</a></li>
            <li><a href="/readinglists" class="navbar-item">Leeslijsten</a></li>
        </ul>
    </div>
</nav>
</body>
</html>